---
import BaseLayout from "../layouts/baseLayout.astro";
import BlurryBlob from "../components/blurry-bob";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Front End Developer</title>
  </head>
  <body>
    <BaseLayout>
      <section class="w-full h-full bg-black overflow-hidden">
        <BlurryBlob
          className="rounded-xl opacity-45"
          firstBlobColor="bg-purple-400"
          secondBlobColor="bg-blue-400"
        />
      </section>
    </BaseLayout>
  </body>
</html>
