---
import BaseLayout from "@/layouts/baseLayout.astro";
import GibberishText from "@/components/gibberish-text";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Front End Developer</title>
  </head>
  <body>
    <BaseLayout>
      <section class="bg-black h-screen w-screen overflow-hidden">
        <h1 class="text-center w-full py-4">
          <GibberishText className="text-3xl text-white" text="Front End Developer" client:load/>
        </h1>
      </section>
    </BaseLayout>
  </body>
</html>
