---
import TopNavbar from "@/components/top-navbar";
import Footer from "@/components/footer.astro";
import BlurryBlob from "@/components/blurry-bob";
import { TABS } from "@/lib/constants";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
    <meta name="generator" content={Astro.generator} />
    <title>Front End Developer</title>
  </head>
  <body class="p-0 h-auto overflow-x-hidden bg-black">
    <BlurryBlob
      className="rounded-xl opacity-45"
      firstBlobColor="bg-purple-400"
      secondBlobColor="bg-blue-400"
    />
    <TopNavbar tabs={TABS} client:load />
    <slot />
  </body>
  <Footer />
</html>
